<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitZone"
        tools:targetApi="31">
        <activity
            android:name=".booking.BookingDetail"
            android:exported="false" />
        <activity
            android:name=".membership.MembershipList"
            android:exported="false" />
        <activity
            android:name=".booking.BookingList"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".membership.Membership"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".trainer.Appointment"
            android:exported="false" />
        <activity
            android:name=".diet.Diet"
            android:exported="false" />
        <activity
            android:name=".diet.DietList"
            android:exported="false" />
        <activity
            android:name=".MyWorkoutPlansList"
            android:exported="false" />
        <activity
            android:name=".Exercises"
            android:exported="false" />
        <activity
            android:name=".WorkoutPlan"
            android:exported="false" />
        <activity
            android:name=".trainer.WriteReview"
            android:exported="false" />
        <activity
            android:name=".trainer.Review"
            android:exported="false" />
        <activity
            android:name=".trainer.ApprovedTrainerProfile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".trainer.TrainerApprovedList"
            android:exported="false" />
        <activity
            android:name=".Packages"
            android:exported="false" />
        <activity
            android:name=".PackagesList"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Age"
            android:exported="false" />
        <activity
            android:name=".ActivityLevel"
            android:exported="false" />
        <activity
            android:name=".Goal"
            android:exported="false" />
        <activity
            android:name=".Height"
            android:exported="false" />
        <activity
            android:name=".Gender"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".ProfileUserName"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>